<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photos</key>
		<array>
			<array/>
			<array/>
		</array>
		<key>time</key>
		<string>17:21</string>
		<key>like_count</key>
		<string>10</string>
		<key>comment_count</key>
		<string>5</string>
		<key>text</key>
		<string>Swift3.0官方文档分享请关注我的个人空间大幅度回复的事发地点开机后付款尽快发空间的首付款的的科技示范户的时刻回复打瞌睡就发货快圣诞节还打飞机肯定是分开就收到货发空间的首付款借点生活费会计电算化</string>
		<key>name</key>
		<string>余老师</string>
		<key>icon</key>
		<string>3</string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<array/>
			<array/>
		</array>
		<key>time</key>
		<string>17:22</string>
		<key>like_count</key>
		<string>4</string>
		<key>comment_count</key>
		<string>2</string>
		<key>text</key>
		<string>搭建React Native环境请关注我的个人空间见客户的房间看电视方会计师的会计法很舒服第十三都是监控方式的空间发挥就开始为东方红四开机放寒暑假的 回复的时刻就复活点就开始几十块话费就开始打货款了，发货的酸辣粉会受到了很多事会发的是开放后付款的说法和肯定是发挥开发的客户</string>
		<key>name</key>
		<string>周老师</string>
		<key>icon</key>
		<string>5</string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<array/>
			<array/>
		</array>
		<key>time</key>
		<string>18:21</string>
		<key>like_count</key>
		<string>3</string>
		<key>comment_count</key>
		<string>12</string>
		<key>text</key>
		<string>早上一二节课的视频已经重新上传</string>
		<key>name</key>
		<string>马老师</string>
		<key>icon</key>
		<string>4</string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<array/>
			<array/>
		</array>
		<key>time</key>
		<string>20:23</string>
		<key>like_count</key>
		<string>4</string>
		<key>comment_count</key>
		<string>5</string>
		<key>text</key>
		<string>Swift3.0教程分享请关注我的个人空间</string>
		<key>name</key>
		<string>余老师</string>
		<key>icon</key>
		<string>xjp</string>
	</dict>
</array>
</plist>
